/* 디버깅의 컴퓨티드를 사용하여 항상 확인하여야한다. */
html{
  font-size: 0.625px;
}

body{
  font-size: 1.5rem;
  font-family:'Noto Sans KR',sans-serif;
  font-weight: 300;
}

h1{
  font-size: 3em;
}

/* em 단위와 100분율은 같다  */

p{
  /* 폰트 크기 */
  font-size: 20px;
  /* 줄의간격 */
  line-height: 1.5;
  /* 글자의 굵기 */
  font-weight: 100;

}

/* 글씨의 크기는 상속받는다 px, em  */
/* 가급적이면 line-height는 넘버단위를 쓰면 p태그에서 좀더 안전하게 사용할 수 있다 */